<ion-header>
  <ion-navbar>
    <ion-title>Current Weather</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="currentWeather">
      <ion-col width-100 class="text-center">
        <h4>{{currentWeather.temperature | number:'1.0-0'}} &deg;F</h4>
        <img [src]="currentWeather.image" alt="{{currentWeather.name}}">
        <h4>{{currentWeather.description}}</h4>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="error">
      <h2>There was an error: </h2>
      <p>Contact the administrator and share this info</p>
      <p class="danger">{{error.code}} - {{error.message}}</p>
    </ion-row>
  </ion-grid>
</ion-content>